$black: #121212;
$lightBorderColor: #F6F9FC;
$darkBorderColor: #1F1F1F;
$blue: #475B73;
$commonBorderRadius: 12px;
$blue-bright: #325AA7;


.wrap {
    //height: 50px;
    font-weight: 600;
    width: 580px;
    height: 200px;
    color: $blue;
    border-radius: $commonBorderRadius;
    margin-top: 20px;
    background: white;
    border: 1px solid $lightBorderColor;
    &:hover {
        box-shadow: 0 1px 12px 0 hsla(210, 7%, 22%, 0.06),
        0 2px 6px 0 hsla(210, 7%, 22%, 0.08);
        border-color: transparent; 
    }
    h2 {
        margin-left: 20px;
        span {
            font-size: 12px;
            font-weight: 600;
        }
    }


}

.block {
    display: flex;
    margin: 20px;
    font-size: 12px;
    & p {
        font-weight: 600;
        height: 2em;
    }
    div {
        width: 20%;
        margin-right: 6px;
    }
    .output {
        background: $lightBorderColor;
        //font-size: 14px;
        display: block;
        border-radius: $commonBorderRadius;
        padding: 6px;
        height: 50px;
        //max-height: 60px;
        font-weight: 400;
        
    }
    .btnBlock {
        margin-top: 40px;
    }

    button {
        background: $blue-bright;
        font-size: 12px;
        font-weight: 600;
        border-radius: 8px;
        color: white;
        //outline: none;
        width: 114px;
        height: 30px;
        border: none;
        margin-bottom: 8px;
        display: flex;
        cursor: pointer;
        &:hover {
            background: $blue; 
            border: 1px solid $blue-bright;

        }
        span {
            display: inline-block;
            height: 16px;
            margin: 0;
            margin-top: 8px;
            margin-left: 6px;
        }
        img {
            height: 14px;
            margin-left: 8px;
            margin: 0 auto;
            margin-top: 7px;
        }
    }
    .delBtn {
        background: #FFEDEC;
        color: #FA5548;
        &:hover {
            background: white;
            border: 1px solid #FFEDEC;
        }
    }
}

