$black: #121212;
$blue: #475B73;
$commonBorderRadius: 12px;


.item, .lastDragItem {
    position: absolute;
    cursor: grab;
    user-select: none;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    
    & img {
        z-index: -1;
        pointer-events: none;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: $commonBorderRadius;
    }
    
}

.lastDragItem {
    transition: transform 400ms;
    & img {
        border: 2px solid white;
        border-radius: 8px;
    }  
}

.imgContainer {
    position: relative;
    p {
        position: absolute;
        top: -12px;
        left: 0;
        word-wrap: break-word;
    }
}



