$black: #121212;
$blue: #475B73;


.itemWrapper {
    color: $blue;
    font-size: 12px;
    font-weight: 600;
    width: 97px;
    height: 50px;
    margin-top: 90px;
    text-align: left;
    border: 1px solid transparent;
    //margin-right: 4px;

    p {
        position: absolute;
        top: 204px;
        text-align: center;
    }

}

.item {
    background: $blue;
    border: 1px solid transparent;
    border-radius: 8px;
    color: white;
    position: absolute;
    cursor: grab;
    user-select: none;
    //margin-right: 4px;   

}

