$black: #121212;
$lightBorderColor: #F1F3F7;
$darkBorderColor: #1F1F1F;
$commonBorderRadius: 12px;


.wrap {
    width: 100%;
    display: flex;
    & > div {
        border-radius: $commonBorderRadius;
        margin-top: 20px;
    }
}

.map {
    //width: 583px;
    min-width: 583px;
    height: auto;
    width: auto;
    max-width: none;
    min-height: 620px;
    background: $black;
    color: white;
    margin-left: 10px;
    margin-right: -104px;
    border-radius: $commonBorderRadius;
    p {
        font-weight: 600;
        height: 2em;
        display: block;
        padding: .8em;
        padding-bottom: .3em;
        margin: 0;
    }
    user-select: none;
}

.elementsBoard {
    touch-action: none;
    width: 580px;
    height: 200px;
    background: white;
    border: 1px solid $lightBorderColor;
    border-radius: $commonBorderRadius;
}

.elements {
    display: flex;
    margin: 16px;
}

