$lightBorderColor: #F1F3F7;
$black: #121212;
$darkBorderColor: #1F1F1F;
$commonBorderRadius: 12px;

.appWrap {
    display: grid;
    grid-template-columns: 200px 580px auto;
    grid-template-rows: 76px auto;
    grid-template-areas:
     'h h h' 
     'n a m' ;
     grid-row-gap: 1px;
     grid-column-gap: 4px;
     min-height: 100vh;
    > div {
        padding: 4px;
    }
}
.headerWrap {
    grid-area: h;
    background: white;
    border: 1px solid $lightBorderColor;  
}
.navigationWrap {
    grid-area: n;
    background: white;
    border: 1px solid $lightBorderColor;
    min-width: 200px;
}
.desktopWrap {
    grid-area: a;
    background: #FAFAFB;
    min-width: 1180px;
    
}

.mapWrap {
    grid-area: m;
    min-width: 583px;
    height: auto;
    width: auto;
    max-width: none;
    min-height: 620px;
    background: $black;
    color: white;
    margin-left: 10px;
    margin-right: -104px;
    margin-top: 24px;
    border-radius: $commonBorderRadius;
    p {
        font-weight: 600;
        height: 2em;
        display: block;
        padding: .8em;
        padding-bottom: .3em;
        margin: 0;
    }
    user-select: none;
}

.place {
    touch-action: none;
    border: 2px solid $darkBorderColor;
    display: grid;
    margin: 10px 10px 0px 10px;
    background-color: $black;
    background-image: 
        linear-gradient($darkBorderColor 1px, transparent 1px),
        linear-gradient(90deg, $darkBorderColor 1px, transparent 1px);
    background-size: 
        12px 12px,
        12px 12px;
    background-position: 
        -1px -1px,
        -1px -1px;
}
